
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #338573;
  --color-delete: #fa0606;
  --color-edit: #04bcf6;
  --font-poppins: 'Poppins', sans-serif;
}
.container {
  @apply max-w-7xl px-4;
}
.container {
  @apply max-w-7xl px-4;
}
html,
body {
  @apply bg-[#F6F7FA] font-poppins text-black;


  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
@media (min-width: 1600px) {
  .hero-image {
    height: 50vh;
  }
  
}
